.assessment-details-container {
    background-color: white;
    border-radius: 24px;
    text-align: left;
    color: #573065;
    margin-top: 20px;
}

#assessments-history-button {
 background-color: transparent;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 2rem; /* Increased icon size */
    color:  white; /* set the main color*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem; /* Set a fixed width */
     height: 2.5rem;  /* Set a fixed height */
  position: fixed;   /* Make container positioned relative to viewport */
  top: 24px;          /* Distance from the top */
  left: 24px;        /* Distance from the right */
  z-index: 100;       /* Ensure button is above other content */
}

#assessments-history-button:hover {
    background-color: rgba(87, 48, 101, 0.3); /* slightly darker on hover */
}

body {
    font-family: sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	background: linear-gradient(45deg, #FC5C7D, #6A82FB);
}

.bg-section-1 {
   background: linear-gradient(45deg, #FF9A8B, #F5E6C4) !important;
}

.bg-section-2 {
   background: linear-gradient(45deg, #1E3A5F, #4A4A4A) !important;
}

.bg-section-3 {
   background: linear-gradient(45deg, #0057B7, #F2F2F2) !important;
}

.bg-section-4 {
   background: linear-gradient(45deg, #2ECC71, #FFD166) !important;
}

.bg-section-5 {
   background: linear-gradient(45deg, #FF6F00, #6A0DAD) !important;
}

.card-container{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
	position: absolute;
	top:13%;
}
  .card {
    background-color: white;
    border-radius: 24px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px;
    text-align: center;
    width: 25%;
    cursor: pointer;
    transition: transform 0.3s;
     display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     color: #573065;
     text-decoration: none;
	  min-width: 240px;
}
.card:hover {
    transform: scale(1.05);
}
.card.disabled {
     opacity: 0.6;
    cursor: default;
    transform: none;
}
 .card.disabled:hover {
    transform: none;
}

.card h2 {
    margin-bottom: 10px;
}
.card p {
    color: #777;
}


.container {
    background-color: white;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #573065;
}

details {
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

#email-already-registered {
    color: red;
     font-size: 0.9em;
     text-align: left;
     margin-top: 5px;
     display: none;
  
   }
  


.form-step {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.hidden {
    display: none;
}

hr.solid {
	    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 7px dotted #573065;
    width: 6%;
}

button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

button:hover {
    background-color: #3d8d3d;
}
#answers-wrapper{
    display: flex;
    width: 100%;
}
#answer-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	margin-top:16px;
    margin-bottom: 32px;
   width: fit-content;
}

#answer-options label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    text-align: left;


}

#answer-options label input[type="radio"] {
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    text-align: left;
    margin-top: 5px;
}

.mandatory-error {
  color: red;
  font-size: 0.9em;
  display: block;
    text-align: left;
  position: relative;
  margin-top: 10px;
}

#results-container{
    text-align:left;
}

#share-button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

#share-button:hover {
background-color: #3d8d3d;
}

	
#logout-icon-button {
    background-color: transparent;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 2rem; /* Increased icon size */
    color:  white; /* set the main color*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem; /* Set a fixed width */
     height: 2.5rem;  /* Set a fixed height */
  position: fixed;   /* Make container positioned relative to viewport */
  top: 24px;          /* Distance from the top */
  right: 24px;        /* Distance from the right */
  z-index: 100;       /* Ensure button is above other content */
}


#logout-icon-button:hover {
    background-color: rgba(87, 48, 101, 0.3); /* slightly darker on hover */
}

#menu-icon-button {
    background-color: transparent;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 2rem; /* Increased icon size */
    color:  white; /* set the main color*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem; /* Set a fixed width */
     height: 2.5rem;  /* Set a fixed height */
  position: fixed;   /* Make container positioned relative to viewport */
  top: 24px;          /* Distance from the top */
  left: 24px;        /* Distance from the left */
  z-index: 100;       /* Ensure button is above other content */
}


#menu-icon-button:hover {
    background-color: rgba(87, 48, 101, 0.3); /* slightly darker on hover */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #573065;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
     display: none; /* Hidden by default */
backdrop-filter: blur(2px);
    }
.loading-overlay.show{
    display: flex;
}

.loader {
     border: 8px solid #f3f3f3;
     border-top: 8px solid #573065; /* Purple spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 .loading-message {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    margin-top: 10px;
     font-weight: 700;
    padding: 20px;
    background-color: #573065;
    border-radius: 10px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
   display: flex;
    align-items: center;
    justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s;
   animation: fadein 0.5s, fadeout 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

 @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
     to {bottom: 0; opacity: 0;}
}
#snackbar button {
  background: transparent;
   color: white;
   border:none;
   cursor: pointer;
}

#snackbar.error {
     background-color: #ff3d00; /* Red for error */

}
        /* outlined style*/
.outlined-input-container {
    position: relative;
    margin-bottom: 20px;
      width: 100%;
}
.outlined-input-container input {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 16px;
      padding-top: 20px;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
    font-size: 1rem;
      box-sizing: border-box;
}
.outlined-input-container label {
    position: absolute;
    left: 8px;
     top: 50%; /* Center the label vertically initially */
    transform: translateY(-50%); /* Center the label vertically initially */
    background-color: white;
      padding-left: 4px;
      padding-right: 4px;
    pointer-events: none;
    font-size: 1rem;
     transition: transform 0.2s, font-size 0.2s, color 0.2s, top 0.2s;
        color: #777;
}

.outlined-input-container input:focus + label,
 .outlined-input-container input:not(:placeholder-shown) + label {
  top: 0px; /* Move the label to the top */
  transform: translateY(-50%) translateX(-14px) scale(0.75);
    font-size: 1.3rem;
	font-weight: 700;
     color: #573065;
}

.outlined-input-container input:focus {
    border-color: #573065; /* Example focus color */
}

/* Styles specific to register.html */

#password-requirements {
    text-align: left;
margin-left: 24px;
    margin-top: 5px;
    font-size: 1em;
    padding-left: 8px;
    color: #573065;
    display: none;
}

#password-requirements.visible{
    display: block;
}

#password-requirements li.valid {
    color: green;
}

.question-answer {
    padding: 16px;
    border-top: 1px solid #eee;
}

.question-answer p {
    margin-bottom: 8px;
}

#question-number {
    font-size: 1em;
    margin-block: 0;
    margin-top: 16px;
}

#register-confirm-password.error {
    border-color: red;
}


#section-instruction {
	text-align: left;
}

summary {
    padding: 16px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
}
 summary::marker {
    font-size: 0.8em; /* Adjust the size of the arrow */
}

summary:focus {
     outline: none;
    box-shadow: 0 0 0 2px #caabd5;  /* Adjust color to match your theme */
}
 
  